body {
  background-color: #121212;
  color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
  margin: 0;
  
}
.mensagem-discord-historico{
  background-color: #1e1e1e; /* fundo escuro */
  color: #ffffff; /* texto branco */
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #ef4444; /* borda vermelha */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  font-size: 15px;
}
.alert-banir {
  background-color: #7f1d1d; /* vermelho escuro */
  border: 1px solid #f87171; /* vermelho claro */
  color: #ffffff; /* texto vermelho mais claro */
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: bold;
  text-align: center;
  animation: fadeIn 0.5s ease-in-out;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.4);
}

.mensagem-var{
  padding: 1rem;
  border-radius: 1rem;
  background-color: #1e1e1e;
  color: #ffffff;
  border: 1px solid #ef4444;
  outline: none;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-size: 15px;
}
.navbar-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 1rem;
    text-decoration: none;
    color: #ef4444;
    font-weight: 600;
    font-size: 1.25rem;
}
.navbar-links:hover {
    color: #f88282; 
    text-decoration: none;
    font-weight: 700;
    font-size: 1.3rem;
    transition: 1s;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1e1e1e;
    padding: 1rem;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;

}

.titulo{
    font-size: 2rem;
    font-weight: 700;
    color: #ef4444; /* red-400 */
    text-align: center;
    margin-top: 1rem;
}
.space-y-4{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
    height: 50%;
    padding: 100px;
    margin: 0 auto;
    margin-top: 2rem;
    background-color: #161616;
    border-radius: 50px;
}
.input {
  padding: 0.75rem;
  border-radius: 1rem;
  background-color: #1e1e1e;
  color: #ffffff;
  border: 1px solid #ef4444;
  outline: none;
  margin-bottom: 1rem;
}

.input:focus {
    border: 1px solid #e77777; 
    box-shadow: 0 0 0 2px rgba(239, 68, 68, 0.2);
    transition: border-color 0.3s, box-shadow 0.3s;
}
.btn-primary {
  background-color: #ef4444; 
  color: white;
  padding: 1rem;
  border-radius: 1rem;
border: none;
  transition: 0.5s;
  font-weight: 600;
}

.btn-primary:hover {
    background-color: #fd4d4d;
    padding: 1rem;
    transform: translateY(-2px);   
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;

}

.btn-copy {
    display: inline-block;
    font-size: 0.875rem;
    font-weight: 500;
    text-decoration: none;
    border: none;
    cursor: pointer;
    background-color: #ef4444; /* red-500 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-left: 0.5rem;
    margin-bottom: 1rem;
    margin-right: 0.5rem;
  margin-top: 0.5rem;
  color: white;
  padding: 0.25rem 0.75rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s;
}

.btn-copy:hover {
  background-color: #ef4444; /* red-500 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;

}

.pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    background-color: #1e1e1e;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.875rem;
    line-height: 1.5;
    padding: 1rem;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid #ef4444;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
    max-height: 400px;
    margin-bottom: 1rem;
    text-align: left;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.section-title {
  font-weight: 600;
  color: #f87171;
  margin-bottom: 0.5rem;
    font-size: 1.25rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.busca-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  width: 50%;
  margin: 0 auto;

}
.input-busca {
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #444;
  background-color: #1e1e1e;
  color: white;
  width: 100%;
}
.btn-buscar, .btn-limpar {
  padding: 0.5rem 1rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.btn-buscar {
  background-color: #ef4444;
  color: white;
}
.btn-limpar {
  background-color: #ef4444;
  color: white;
}
.contador-total{
  margin: 0 auto;
  text-align: center;
  font-size: 1.25rem;
  
}
.mensagembug{
  width: 80%;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 1rem;
  
}

.rodape {
  display: flex;
  justify-content: center;
  background-color: #1e1e1e;
  padding: 1rem;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}
.rodape-container {
  text-align: center;
  font-size: 1.1rem;

}
.rodape-link{
  padding: 10px;
  color: #ef4444;
  text-decoration: none;
  font-weight: 600;
  
}
.modelo-ban{
  margin-bottom: 100px;
}
.rodape-texto2{
  font-size: 0.6rem;
  color: #f87171;
  margin-top: 10px;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);

}
.rodape-link:hover{
  color: #f87171; /* red-500 */
  text-decoration: underline;
  transition: color 0.3s, text-decoration 0.3s;
  
}